.pf4-picker-root {
  width: 100%;
  margin-bottom: 8px;
}
.pf4-picker-root>button {
  width: 100%;
  pointer-events: none;
}
.pf4-picker-root:hover > button {
  background-color: var(--pf-c-button--m-primary--hover--BackgroundColor);
}

.pf4-builder-column {
  margin: 16px
}
.pf4-builder-column:nth-child(1) > .pf-c-form {
  display: block;
}
.pf4-builder-column:nth-child(2) {
  flex-grow: 1;
}
.pf4-builder-column:nth-child(2)>.pf-c-card__body {
  display: flex;
  flex-direction: column;
}
.pf4-builder-column:nth-child(3) {
  flex-grow: 0.75;
  background: transparent;
  box-shadow: none;
}
.pf4-builder-column:nth-child(3) > .pf-c-card__body{
  padding: 0
}
.pf4-component-wrapper {
  flex-grow: 1;
  margin-right: 16px;
}

.pf4-field-actions {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.pf4-field-actions > button:not(:last-child) {
  margin-right: 8px;
}
.pf4-danger-color:hover{
  background-color: var(--pf-global--danger-color--100);
}
button:hover>svg.pf4-danger-color {
  fill: var(--pf-global--danger-color--100);
}
.pf4-options-propery-editor-cell:not(:last-child) {
  padding-right: 8px;
}
.pf4-properties-editor-title {
  display: flex;
}
.pf4-properties-editor-title .editor-header-button:first-child {
  margin-left: auto
}
.pf4-validators-validator-title {
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pf4-tabs-container {
  padding: 0 !important;
}
.pf4-properties-editor-header {
  margin-bottom: 16px;
}
.task-container.selected {
  border-bottom: 3px solid var(--pf-global--primary-color--100);
  transition: border-color .3s linear;
}
.pf4-validators-property-group:not(:last-child) {
  margin-bottom: 16px;
}
