div.container {
  margin: 16px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 40px);
}
.container.form-preview{
  flex-grow: 1;
}

div.task-container.selected {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

div.task-list {
  padding: 8px;
  min-height: 100px;
  flex-grow: 1;
  transition: background-color ease-out .1s;
  position: relative;
}

div.task-list.dragging {
  background-color: lightskyblue;
}

h3.title {
  padding: 8px;
}

@keyframes mount {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.task-container {
  border: 1px solid lightgrey;
  animation: mount .5s;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: white;
  transition-property: box-shadow, background-color;
  transition-duration: .1s, .3s;
  transition-timing-function: ease-in;
  cursor: pointer;
}
.task-container.dragging {
  background-color: lightgreen;
}
.layout { 
  display: flex;
  padding: 8px;
}

.is-container {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.in-container {
  border-top: none;
  border-radius: 0;
  margin-bottom: 0;
  padding-bottom: 16px;
}

.container-end {
  margin-top: 16px;
  height: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  border-bottom: 1px solid lightgray;
}

.task-container.hide, .container-end.hide {
  visibility: hidden;
  height: 0;
  padding: 0;
  border: 0;
  margin: 0;
}
